.stand-info__wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.stand-info {
    width: calc(100% - 30px);
    max-width: 300px;
}

.stand-info__title {
    font-weight: bold;
    text-align: center;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}