@use "../../styles/var.module.scss" as var;

.menu__btn {
    min-width: unset !important;
    width: fit-content !important;
    height: fit-content !important;
    color: inherit !important;
    border-radius: 100% !important;
    padding: 9px !important;
}