.stands-list__wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.stands-list {
    width: calc(100% - 30px);
}

.stands-list__title {
    font-weight: bold;
    text-align: center;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}