@use "var.module" as var;

@mixin overflow {
    overflow: overlay;
    overflow-block: scroll;
    overflow-x: overlay;
    overflow-y: overlay;

    scrollbar-width: var.$scroll-width;
    scrollbar-color: var.$scroll-color;
    
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        width: var.$scroll-width;
        height: var.$scroll-width;
        border-radius: 10px;
        border: 0;
    }
    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
    &::-webkit-scrollbar-track {
        background-color: var.$scroll-track-color;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var.$scroll-color;
        border-radius: 10px;
    }
}

@mixin font {
    overflow-wrap: break-word;
    letter-spacing: normal !important;
}

@mixin centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

@mixin sm {
    @media screen and (min-width: var.$sm) {
        @content;
    }
}