$primary1: #1d4ed8;
$primary2: #2563eb;
$error1: #b91c1c;
$error2: #dc2626;
$mainBgColor: #f1f5f9;
$baseFontSize: 12px;
$sectionFontSize: 18px;
$headerFontSize: 14px;
$placeholderFontSize: 14px;
$sm: 350px;
$scroll-width: 5px;
$scroll-track-color: transparent;
$scroll-color: #55555559;

:export {
    primary1: $primary1;
    primary2: $primary2;
    error1: $error1;
    error2: $error2;
    baseFontSize: $baseFontSize;
    sectionFontSize: $sectionFontSize;
    headerFontSize: $headerFontSize;
    placeholderFontSize: $placeholderFontSize;
}