@use "../../styles/var.module.scss" as var;
@use "../../styles/mix.scss" as *;

.table__container {
    @include overflow;
}

.table__wrap {
    width: 100%;
}

.table__placeholder {
    height: 200px;
}

.table__placeholder-text {
    text-align: center;
}

.table__placeholder-loader-wrap {
    width: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: center;
}